@font-face {
    font-family: 'black_jackregular';
    src: url("blackjack-webfont.eot");
    src: url("blackjack-webfont.eot?#iefix") format("embedded-opentype"), url("blackjack-webfont.woff2") format("woff2"), url("blackjack-webfont.woff") format("woff"), url("blackjack-webfont.ttf") format("truetype"), url("blackjack-webfont.svg#black_jackregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("Proxima Nova Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("Proxima Nova Regular Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("Proxima Nova Bold Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("Proxima Nova Semibold Italic.otf") format("opentype");
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("Proxima Nova Light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}

@keyframes move-icon {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

body {
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    font-style: normal;
    width: 1260px;
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 940px;
    margin: 0 auto;
}

header {
    height: 650px;
    background: url(images/phone-header.png) no-repeat 230px 385px, url(images/background-1.jpg);
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo .main-menu {
    position: relative;
    height: 4px;
    width: 32px;
    margin-top: 38px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 6px #fff, 0 12px #fff, 0 18px #fff;
}

.header-logo .main-menu:hover .hidden-menu {
    display: flex;
}

.hidden-menu {
    display: flex;
    flex-direction: column;
    display: none;
    top: -39px;
    right: -160px;
    position: absolute;
    width: 1260px;
    height: 650px;
    background-color: rgba(229, 127, 133, 0.9);
}

.hidden-menu ul {
    list-style: none;
    margin: auto;
    margin-left: 600px;
    padding: 0;
}

.hidden-menu li {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.hidden-menu li:last-of-type {
    margin-bottom: 0;
}

.hidden-menu .menu-btn {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding: 0;
}

.hidden-menu .menu-btn::before {
    position: absolute;
    left: -70px;
    top: -13px;
    content: "";
    width: 50px;
    height: 50px;
    background: url("images/spritesheet_header.png") no-repeat, #fff;
    border-radius: 50%;
}

.hidden-menu .menu-btn:hover {
    color: #d3d3d3;
}

.hidden-menu .menu-btn:hover::before {
    animation-name: move-icon;
    animation-duration: 350ms;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
}

.hidden-menu .home::before {
    background-position: 13px 18px;
}

.hidden-menu .about::before {
    background-position: 14px -45px;
}

.hidden-menu .portfolio::before {
    background-position: 14px -109px;
}

.hidden-menu .info::before {
    background-position: 14px -174px;
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.promo h1 {
    font-family: 'black_jackregular';
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    margin-top: 55px;
}

.promo p {
    font-family: "Proxima Nova", sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color: #fff;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.button {
    width: 173px;
    height: 60px;
    padding: 18px 25px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    background: url("images/spritesheet.png") no-repeat;
}

.download-btn {
    box-sizing: border-box;
    color: #fff;
    background-position: 110px -127px;
    border: 2px solid #fff;
}

.block-1 {
    height: 650px;
    background: url("images/phone1.png") no-repeat 920px 150px;
    background-color: #f4f4f4;
}

.block-1 blockquote {
    padding: 0;
    padding-left: 20px;
    border-left: 5px solid #4eacdd;
    font-style: italic;
    width: 500px;
    color: #7e7e7e;
    margin-left: 0;
    margin-bottom: 65px;
}

.block-1 .hello-btn {
    box-sizing: border-box;
    border: 2px solid #14af8f;
    color: #14af8f;
    background-position: 110px -220px;
}

.block-1 h2 {
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
    color: #545454;
    margin-top: 135px;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.block-1 p {
    width: 550px;
    color: #7e7e7e;
    margin-bottom: 25px;
}

.block-2 {
    height: 650px;
    background: url("images/block-2.png") no-repeat 0 290px;
    background-color: #fff;
}

.block-2 .container {
    align-items: flex-end;
}

.block-2 h2 {
    padding: 0;
    margin: 0;
    margin-top: 95px;
    margin-bottom: 35px;
    width: 395px;
    font-weight: lighter;
    font-size: 40px;
    color: #545454;
    letter-spacing: -1px;
    word-spacing: -1px;
}

.block-2 p:last-of-type {
    width: 395px;
    color: #7e7e7e;
    word-spacing: 1px;
    margin: 0;
    margin-bottom: 60px;
}

.block-2 p:first-of-type {
    font-weight: bolder;
    font-style: italic;
    color: #474e5d;
    width: 395px;
    margin-bottom: 30px;
}

.block-2 .view-btn {
    width: 225px;
    height: 57px;
    box-sizing: border-box;
    padding: 18px 27px;
    color: #ea4c89;
    background-position: 160px 8px;
    border: 2px solid #ea4c89;
    margin-right: 170px;
}

.block-3 {
    height: 326px;
    background: url("images/background-4.jpg") no-repeat;
    background-color: #0fad8c;
}

.block-3 .container {
    justify-content: center;
    align-items: center;
    height: 326px;
}

.block-3 h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    color: #fff;
    font-size: 40px;
}

.block-3 .buy-btn {
    border: 2px solid #fff;
    background-position: 165px -87px;
    color: #fff;
    width: 225px;
    height: 57px;
    box-sizing: border-box;
    box-shadow: -5px 5px 10px rgba(0, 1, 1, 0.2);
    padding: 15px 30px;
}

.block-3 .buy-btn span {
    font-weight: bold;
    font-style: italic;
}

.social {
    height: 650px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social .subscribe {
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
    list-style: none;
}

.subscribe li {
    display: inline-block;
    margin: 0;
    margin-right: 33px;
}

.subscribe li:last-child {
    margin-right: 0;
}

.subscribe li .button {
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 3px solid #545454;
    border-radius: 50%;
}

.subscribe li .ball {
    background-position: 0px -43px;
}

.subscribe li .ball:hover {
    border-color: #ea4c89;
    background-color: rgba(234, 76, 137, 0.2);
}

.subscribe li .facebook {
    background-position: 6px -179px;
}

.subscribe li .facebook:hover {
    border-color: #50a4f2;
    background-color: rgba(80, 164, 242, 0.2);
}

.subscribe li .twitter {
    background-position: -2px -371px;
}

.subscribe li .twitter:hover {
    border-color: #50e1f2;
    background-color: rgba(80, 225, 242, 0.2);
}

.subscribe li .plan {
    background-position: -6px -318px;
}

.subscribe li .plan:hover {
    border-color: #a19a9e;
    background-color: rgba(161, 154, 158, 0.2);
}

form label {
    color: #545454;
    font-weight: bolder;
    font-style: italic;
    margin-right: 17px;
}

input[type="email"] {
    background-color: #fff;
    width: 220px;
    height: 42px;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    padding-right: 40px;
}

input[type="email"]:focus {
    outline: none;
    border: 2px solid #e57f85;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #e57f85;
}

input::-webkit-input-placeholder {
    font-size: 14px;
    color: #d3d3d3;
    font-style: italic;
    font-weight: bolder;
}

form {
    position: relative;
}

form::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 13px;
    width: 16px;
    height: 13px;
    background: url("images/spritesheet.png") no-repeat;
    background-position: -15px -286px;
}

footer {
    height: 100px;
    background-color: #fff;
}

footer .container {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 1260px;
}

footer p {
    margin: 0;
    font-size: 12px;
    color: #7e7e7e;
}

footer p a {
    text-decoration: none;
    color: #6dc5ea;
}

footer p span {
    font-style: italic;
}

footer .top {
    margin-left: 380px;
    margin-right: 60px;
    height: 40px;
    width: 40px;
    background: url("images/to_top.png") no-repeat 50% 50%, #f4f4f4;
    border-radius: 5px;
    text-decoration: none;
    color: #717171;
}


/*# sourceMappingURL=style.css.map */
